In [ ]:
Session Will Start In 2 Min

In [ ]:
Sivaram R

Ex - Hcl | Ex - TCS | Currently working with Synergy Marine Group

#  Why it's important to Focus Data Skills

Data & Analytics:- 

D & A

different roles in DnA:-

Data analyst
Data Eng   ----> Target
Data Arch
Bi dev ( power Bi)
Data Scnt
Ml eng
AI / ML

In [ ]:
Real time : Amazon exp :

In [ ]:
Data & Analytics =======================>  Big Data Analytics ==================> 35 to 45 days Duration

In [ ]:
3 Levels : ( Syllabus & Curicullam )

    1. Level ---------> Foundational area

    a. Python
    b. SQL ( Basic knowledge is prerequisite )

    2. Level ----------> intermediate area ( Big Data Technologies ---> open source )

    a. Hadoop and Mapreduce
    b. HDFS
    c. Hive
    d. Sqoop
    e. Apache Spark / Databricks
    f. pyspark

    3. Level ----------> Advanced Area ( Azure Stack )

    Cloud Computing ( Azure )
    a. ADLS
    b. Databricks


    AIRFLOW ( Basic Level ) --> purpose and real time use case, how we use in projects

Post the Course:-
=================

1. Project Guidance And Explanation
2. Resume Making / Review / Corrections
3. Mock Interviews
4. Naukari Profile Update Guidance 
5. Interview Tracking 
6. Placed

In [ ]:
Data Engineer 0 - 3 years

Senior Data Engineer ---> 3 - 6 years

Lead Data Engineer -----> 6 - 10 years

Data Architect / Data Engineering Manager --> 10 - 15 years of th exp

Sr Data Engineering Manager --> 15+ - 20 years

In [ ]:
1. Who can do this course/program...................?

Ans : any one -----Bcom / MBA / BTECH /BSC / MCA / BA / BBA / Diploma

2. What kind of Exp do i need to have.....? 

Ans : From fresher level -------> 20 + years of exp as well...

3. Can people from diff domain can enter in to D&A - Data Engineering - Bigdata and work on it.........?

Ans : Yes

4. What is the Duration of program....?

Ans : 35 to 45 days

5. How the session will be conducted....?

Ans : Mon to Friday via Zoom App 

6. Is there any job support provided....?

Ans : end to end job training program -----------> 100% job assurance and placement assistance as well


7. What is the min CTC we can be able to expect by joining in this program...?

Ans : 80 - 150% hike on your Current CTC or atlest 12 LPA

8. Do you help on the interview prep and also placement assitance.....?

Ans : End to End support will be provided to all of the participants

Fee:-

Total Course Fee - 20K



Pay in two installemts - 5k + 10k 

To Enroll in to the course - 5K as 1st installemt 


 How to Pay 

7997068801 - GPAY / PHPAY