In [ ]:
Hive:-
=====

Hive is datawarehouse is used to store historic data get analytics out the same.



Diffrence b/w Database and Datawarehouse?


Database :- 
daily transcations ===> chlt company ==> A,B,C  ===> Datawarehouse A,B,C

chlt company ==> A,B  ===> Datawarehouse A,B,C ===> analytics

In [ ]:
Tables, view =====> HiveQl ( it is regualr sql which is used to interact with hive )

In [ ]:
why Hive was invented?

Map Reduce ====> ORC (/data/uis/emp/emp131342.orc)

/data/uis/emp/emp131342.orc ===> it's binary file ====> wehave to read with map reduce ===> then only we can able to view the data inside the file

In [ ]:
Hive ====> table will be created pointing to the data location  ====> select * from emp

In [ ]:
Tables :-
========

1. Managed Table or Internal Table
2. External Table

In [ ]:
CREATE TABLE employee_orc (
    emp_id        INT,
    emp_name      STRING,
    department    STRING,
    salary        DOUBLE,
    joining_date  DATE
)
STORED AS ORC;

In [ ]:
CREATE TABLE employee_csv (
    emp_id        INT,
    emp_name      STRING,
    department    STRING,
    salary        DOUBLE,
    joining_date  DATE
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE;

In [1]:
# External table


CREATE EXTERNAL TABLE employee_orc_ext (
    emp_id        INT,
    emp_name      STRING,
    department    STRING,
    salary        DOUBLE,
    joining_date  DATE
)
STORED AS ORC
LOCATION '/data/hive/employee_orc/';

In [ ]:
select * from employee_orc_ext

In [ ]:
Internal Tables:-
================
1. Metadata and table data will be managed by hive
2. when we drop internal or managed table schema and data of the table will be deleted

drop table employee_orc_inter


External Tables:-
================
1. Only metadata will be managed by hive
2. when we drop external table only schema will get dropped, data won't be deleted

drop table employee_orc_exter