In [ ]:
# functions:-
===========

what is function?
functions is block of code or statament used to execute specific task

How to define a fucntion?
with a key word called def

For code reusability we need to use functions

# how to comment inside a function?

""" this is comment inside a function """

In [ ]:
# req:- make multiplication funuction

In [10]:
for i in range(10):
    print(f"2*{i}={2*i}")

2*0=0
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [4]:
def multi(x):
    for i in range(10):
        print(f"{x}*{i}={x*i}")

In [5]:
multi(10)

10*0=0
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90

In [7]:
multi(12345678)

12345678*0=0
12345678*1=12345678
12345678*2=24691356
12345678*3=37037034
12345678*4=49382712
12345678*5=61728390
12345678*6=74074068
12345678*7=86419746
12345678*8=98765424
12345678*9=111111102

In [8]:
def greet_user(name):
    """ this fucniton is used to greet a user"""
    print(f"welcome Back {name}!!")

In [9]:
greet_user('naveen')

welcome Back naveen!!

In [11]:
for i in range(10):
    print(f"3*{i}={3*i}")

3*0=0
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

In [12]:
multi(3)

3*0=0
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

In [ ]:
# types of arguments:-
======================

1. positional argugemts
2. keyword arguments

In [ ]:
# positional arguments:-
-----------------------

In [ ]:
# python is case sensitive languge
# python is an indentad language

indentation is nothing but style of writing

In [19]:
def desc_pets(animal_type, animal_name):
    print(f"my animal type is {animal_type}\n")
    print(f"my {animal_type} name is {animal_name}")

In [20]:
desc_pets("dog","bruno")

my animal type is dog

my dog name is bruno

In [21]:
desc_pets("bruno","dog")

my animal type is bruno

my bruno name is dog

In [ ]:
# keyword args:-
--------------

In [22]:
def desc_pets(animal_type, animal_name):
    print(f"my animal type is {animal_type}\n")
    print(f"my {animal_type} name is {animal_name}")

In [26]:
desc_pets("cheetha", "bhagira")

my animal type is cheetha

my cheetha name is bhagira

In [27]:
desc_pets(animal_type = 'cheetha', animal_name = 'bhagira')

my animal type is cheetha

my cheetha name is bhagira

In [24]:
desc_pets(animal_name = 'simba', animal_type = 'lion')

my animal type is lion

my lion name is simba

In [25]:
def desc_pets(animal_type, animal_name):
    print(f"my animal type is {animal_type}\n")
    print(f"my {animal_type} name is {animal_name}")

In [28]:
def stu(num_of_stu):
    print(f"I'm having {num_of_stu} students")

In [29]:
stu(3)

I'm having 3 students

In [30]:
stu(num_of_stu = 3)

I'm having 3 students

In [31]:
stu()

TypeError: stu() missing 1 required positional argument: 'num_of_stu'

In [32]:
def stu_1(num_of_stu = 100):
    print(f"I'm having {num_of_stu} students")

In [33]:
stu_1()

I'm having 100 students

In [35]:
stu_1(0)

I'm having 0 students

In [ ]:
# req:- 
I'm having 3 students
naveen
ashok
murali

In [36]:
def stu_2(num_of_stu, *students):
    print(f"I'm having {num_of_stu} students")
    for i in students:
        print(i)

In [38]:
stu_2(3, 'naveen','ashok','murali','saas','sdfdfere')

I'm having 3 students
naveen
ashok
murali
saas
sdfdfere

In [39]:
def addition(a,b):
    print(a+b)

In [40]:
addition(10,20)

30

In [41]:
def addition_1(a,b):
    return a+b

In [42]:
res_1 = addition_1(3,3)

In [43]:
res_1

6

In [44]:
addition_1(3,3)

6

In [45]:
addition(3,3)

6

In [46]:
def addition_1(a,b):
    return a+b

def power_fun(num,power_value):
    print(num**power_value)

In [47]:
n = addition_1(3,3)
power_fun(n,3)

216

In [ ]:
# Introdcutions to python classes:-
==================================

Class - Objets  ====> Oops

Class :- class is blue print of an object 
With one class we can create N number of objects 

Method:-
=======

what is a method?
if you define a fucniton inside a class is called method

In [53]:
class exampleClass:
    eyes = 'blue'
    age = 32

    def mymethod(self):
        print(f"my eyes are {self.eyes}")
        print(f"my age is {self.age}")

In [ ]:
# self :- temp place holder for storing current object

In [54]:
# how to create an object

obj1 = exampleClass()

In [55]:
obj1.eyes

'blue'

In [56]:
obj1.age

32

In [57]:
obj1.mymethod()

my eyes are blue
my age is 32

In [58]:
obj2 = exampleClass()

In [59]:
obj2.mymethod()

my eyes are blue
my age is 32

In [70]:
class stu:
    def stu_name(self,name):
        self.name = name
        print(f"my student name is {self.name}")

In [71]:
id(stu1)

2175581267888

In [72]:
stu1 = stu()

In [73]:
stu1.stu_name("naveen")

my student name is naveen

In [74]:
stu2 = stu()
stu2.stu_name("ashok")

my student name is ashok

In [75]:
stu1.name

'naveen'

In [76]:
stu2.name

'ashok'