In [ ]:
# python  

in data eng:-
===========

we need to process data by using apche spark ===> pyspark, pandas ===> we need to learn python  


interviews:-
===========

1. SQL
2. Apche Spark ( theory part question )
3. pyspark ( coding question )
4. python ( theory or coding )

apart from if they are looking for any other skill set they might ask the question

In [ ]:
# python

In [ ]:
# variable

variable:- var is a just a like a container to store some data or value

In [1]:
a = 10

In [2]:
a

10

In [3]:
b = 15

In [4]:
b

15

In [ ]:
# rules to declare variables in python 

1. No spaces were allowed in the variable names
2. No special char as allowed in the var names
3. var name should not start with a number

In [5]:
full name = 'naveen'

SyntaxError: invalid syntax (537613003.py, line 1)

In [6]:
full_name = 'naveen'

In [7]:
full_name

'naveen'

In [8]:
print(full_name)

naveen

In [9]:
# 2. No special char as allowed in the var names except underscore

%name = 'aa'

UsageError: Line magic function `%name` not found.

In [10]:
$name = 'bb'

SyntaxError: invalid syntax (330665770.py, line 1)

In [11]:
# 3. var name should not start with a number

1name = 'ad'

SyntaxError: invalid decimal literal (2963080724.py, line 3)

In [12]:
name1 = 'adg'

In [13]:
name1

'adg'

In [14]:
print(name1)

adg

In [ ]:
# this code will filter some data 
sahsba
sajsabsaashbas
ffdfdjdf
fjfdj

In [ ]:
# comments in python

types of comments in python

1. single line comment
2. Multi line comment

In [ ]:
# this is single line comment

In [ ]:
""" 
this is multi line comment
dbdshdsbdsbh

dshdsbdsh

dashdsbhdsb

asdjd

"""

In [15]:
# this is used to print full_name

print(full_name)

naveen

In [17]:
# this is used to print full_name 

print(full_name)

naveen

In [ ]:
# Introduction to DataTypes in Python:-
======================================

1. String    ====> str
2. list      ====> list
3. Tuple     ====> tuple
4. Dictionary  ==> dict
5. Sets     =====> set

In [ ]:
# String    ====> str

What is string?
ans. String is a series or collection of charecters  

How to delcare string in python?
There are 3 ways to declare string in python

1. 'py'
2. "py"
3. '''py'''

# properties of strings?
========================
String is a immutable datatype

Immutable :- No change or ater/ modification is possible after it get declared 
mutable :- alter or modfication is possible after it get declared as well

In [18]:
name = 'python'
name1 = "python"
name2 = '''python'''

In [19]:
print(name, name1, name2)

python python python

In [20]:
sent = 'this is my notebook'

In [21]:
print(sent)

this is my notebook

In [ ]:
# req :- this is ashok's notebook

In [23]:
sent1 = "this is ashok's notebook"

In [24]:
print(sent1)

this is ashok's notebook

In [ ]:
# req:- this very "imp"

In [25]:
print('''this is very "imp"''')

this is very "imp"