In [ ]:
Python ==> Completed

SQL   ===> 2 sessions 

Big Data

In [ ]:
Interview pattren:-
=================

1. python
2. SQL
3. Apache Spark  ---> theory
4. pyspark
5. Cloud --> Databricks 


================================================

project ---> next question

In [ ]:
SQL:-
====

Why DE need SQL?
 Data Eng --------> Data? ( files, Databses, Api )

files --> csv, json, text, excel, xml, fixed width files.. etc
Databases ---> mysql, sqlserver, postgress sql, oracle sql.. etc
API ---> we will send get request to api, so api will give us data in json format

In [ ]:
sqlserver ( emp ) ----> emp sal> 5000 ---> emp names csv format --> other team

In [ ]:
SQL:-
====

creat table
insert, update, delete
alter commands

In [ ]:
We will have data in mutiple tables:-
------------------------------------
emp, dept

dept_id

joins ---> left, inner join 


views:-
======

how to create a view

ship_locator table ---> loading  every 3 hrs  ===>  shipname, timestamp, lat, long, inserted_ts

select * from ship_locator

view:-
select * from ship_locator

In [ ]:
CTE ---> common table expression

with active_emp_data as (
    select * from emp where status = 'active'
)

select * from active_emp_data

In [ ]:
where class --->

to filter the data 

select * from emp where sal>300;

In [ ]:
# group by , having

empid, empname, deptid, sal
                    1
                    2
                    3


select deptid,max(sal) from emp group by deptid

In [ ]:
# window funcitons:-
===================

row_number()
rank()
dense_rank()
lead()
lag()

In [ ]:
overwrite, append

In [ ]:
overwrite:-
===========

yes ---> 3 rec

today ---> 2

tbl --> 2 records

In [ ]:
tmrw:-
======

SCD ---> slowly changing dimenion
madallion arch -->

In [ ]:
Basics in sqL --> create, update, delete, truncate
joins
filter condition where, qualify
window funcitons --> row_number, rank, dense_rank
group by , having
you should learn how to use CTE in writing query
View creation